.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 85px;
    padding-right: 85px;
  }
}
