.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 2px solid #2a363b;
  background-color: #ffffff;
}
.wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-family: Poppins;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wallet {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 1;
    width: 120px;
  }
  .walletIcon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .wallet {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.33;
    width: 181px;
    padding-right: 37px;
  }
  .walletIcon {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 85px;
    padding-right: 85px;
  }
}
