.wallet {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  font-family: Poppins-Regular;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .wallet {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 1;
    width: 120px;
  }
  .walletIcon {
    width: 30px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .wallet {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.33;
    width: 181px;
  }
  .walletIcon {
    width: 40px;
    margin-right: 20px;
  }
}
