@media screen and(max-width: 768px) {
  .table {
    &__container {
      padding: 0 20px;
    }
    &__section {
      padding-top: 30px;
    }

    &__card {
      border-radius: 10px;
      //   border: 1px solid red;
      background-color: bisque;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:nth-child(odd) {
        border-left: #ff6596;
      }
      &:nth(even) {
        border-left: #24cca7;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      padding: 12px 20px;

      &:not(:last-child),
      &:not(:first-child) {
        width: 100%;
        border-bottom: 1px solid #dcdcdf;
      }
    }
  }
}
