.table {
  border-radius: 30px;
  display: block;
  width: 347px;
  text-align: center;
  color: #fff;
  background-color: #4a56e2;
  overflow: hidden;
  border-spacing: 0px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.table::before {
  position: absolute;
  content: '';
  background-image: url('../../images/vawe.svg');
  left: 0;
  bottom: -220px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.table_label_container {
  display: block;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 18px;
  line-height: 26.53px;
}
.table_label_row {
  display: flex;
  justify-content: space-between;
  padding: 17px 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -8.67%,
    rgba(255, 255, 255, 0) 116.22%
  );
}

.table_tbody {
  font-family: 'Circe-Regular';
  font-size: 16px;
  line-height: 23.58px;
  display: block;
  border: none;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 149px;
}

@media (min-width: 1280px) {
  .currency_table {
    display: block;
    height: 348px;
    width: 347px;
  }
}
.table_tbody_row {
  display: flex;
  justify-content: space-between;
}
.table_tbody_row:not(:last-child) {
  margin-bottom: 23px;
}
