.login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.svg {
  z-index: 1;
}

.tittle {
  text-align: center;
  margin-top: 32px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  z-index: 1;
}
