.login_wrapper {
  display: none;
}
@media (min-width: 768px) {
  .login_wrapper {
    display: flex;
    align-items: center;
  }

  .tittle {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    z-index: 1;
  }
  .svg {
    z-index: 1;
    width: 260px;
    height: 250px;
    margin-right: 40px;
  }
}

@media (min-width: 1280px) {
  .login_wrapper {
    margin: auto;
    flex-direction: column;

    width: 43.75%;
    padding-top: 153px;
    padding-bottom: 77px;
  }
  .svg {
    z-index: 1;
    width: 452px;
    height: 412px;
    margin-right: 0;
  }

  .tittle {
    text-align: center;
    margin-top: 32px;
  }
}
