.balance {
  // &__container {
  //   margin-left: 40px;
  // }
  &__box {
    max-width: 350px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 13.2px;
    background-color: #b0f3e4;
    border-radius: 30px;
  }
  &__text {
    margin: 0 10px 0 0;
    padding: 0;
    font-family: Circe;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__number {
    margin: 0 0;
    padding: 0;
    font-family: Poppins-Regular;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
  }
}

@media screen and(min-width: 320px) and(max-width: 767px) {
  .balance {
    &__box {
      min-width: 280px;
      padding-right: 75px;
      padding-left: 30px;
    }

    &__container {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and(max-width: 1280px) {
  .balance {
    max-width: 334px;
  }
}
